# ===========================
# Maven
# ===========================
target/

# ===========================
# NetBeans
# ===========================
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ===========================
# IntelliJ IDEA
# ===========================
.idea/
*.iml

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Eclipse
# ===========================
.project
.classpath
.settings/

# ===========================
# Java
# ===========================
*.class
*.log

# ===========================
# Operating System Files
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Temporary Files
# ===========================
*.tmp
*.swp